body {
    margin: 0;
    padding: 0;
    
}

.clearfix {
    content: '';
    display: block;
    clear: both;
    height: 30px;
    background: rgb(180, 158, 109);
} 

.logo {
    height: 50px;
    text-align: center;
    background: rgb(180, 158, 109);
    font-size: 40px;
    font-family: sans-serif;
}


.page-footer {
    height: 40px;
    background: rgb(180, 158, 109);
}

.page-footer__text {
    text-align: center;
    background: rgb(180, 158, 109);
    font-size: 20px;
    font-family: sans-serif;
}